<div class="parent">
    <div class="div1">
        <img [src]="currentImgLng" alt="IMAGENES">
    </div>
    <div class="div2">
        <h1>Iniciar Sesion</h1>
    </div>
    <div class="div3">
        <form>
            <!-- TODO EMAIL -->
            <div class="form-grupo">
                <label for="email">Email o Nombre de Usuario</label>
                <input class="ss" type="text" id="user" name="email" required>
            </div>
            <!-- TODO CONTRA -->
            <div class="form-grupo">
                <label for="email">Contraseña</label>
                <input class="ss" type="password" id="pass" name="pass" required>
                <!-- TODO MOSTRAR CONTRASEÑA-->

                <button type="button" class="pass-ver" (click)="togglePass()"></button>
                <p><a>No me acuerdo de la contraseña</a></p>
            </div>
        </form>
        <button>Iniciar sesion</button>
    </div>
</div>